[Desktop Entry]
Type=Application
Name=拾页
Name[zh_CN]=拾页
Name[zh_TW]=拾頁
Comment=Read local ebook files
Comment[zh_CN]=阅读本地电子书文件
Exec=open_reading %F
Icon=open-reading
Terminal=false
Categories=Office;Viewer;
MimeType=text/plain;application/epub+zip;
StartupNotify=true
